/*Whole Page*/

* {box-sizing: border-box;}

body {margin: 0px; padding: 0px; background-color: #fffeea; color: #34495e;}

.container-fluid {padding-right: 0; padding-left: 0;}

/*Navigation bar*/

.navbar-inverse {background-color: #790696}

.navbar-collapse {background-color: #790696;}

nav li {display: inline-block; font-family: Futura, Helvetica, Arial, sans-serif; font-size: 1em; padding-right: 40px;}

nav a {color: #9d9d9d; text-transform: uppercase; letter-spacing: 0.05em; padding: 25px 30px 15px; font-family: Futura, Helvetica, Arial, sans-serif; font-size: 1em; text-decoration: none;}

nav a:hover {color:#fff;}

nav a {-webkit-transition: color 600ms;}

nav ul {float:right;}

#navbar-links a {color: #fff}

#navbar-links a:hover {color: yellow}

.Homepage a {text-transform: uppercase; color:#fff; margin-left: 20px;}

.Homepage a:hover {color: yellow;}

.anchor {padding-top:50px;}

#dropdownMenu1 {color: #fff; text-transform: uppercase; letter-spacing: 0.05em; padding: 15px 30px 0; font-family: Futura, Helvetica, Arial, sans-serif; display: inline-block; background-color: transparent;}

#dropdownMenu1:hover {color: yellow; text-decoration: none;}

.dropdown-toggle {color: #000; background:none; border:none;}

.dropdown-menu ul {background-color: #000; color:#000;}

.dropdown-menu {background-color: black;}

.dropdown-menu li a {color: #fff;}

.dropdown-menu li a:hover {background-color: #790696}

/*Opening picture*/

#opening-image {background-size: cover; background-attachment: fixed; max-width: 100%;}

#opening-image p {font-size: 2.9em; color: #fff; display: block; font-weight: 900; font-family: Courier; sans-serif; position: absolute; top: 50px; text-align: center; width: 100%; margin: 0 auto;}

/*About page*/

.header-about h1 {font-family: 'Roboto', 'Oswald', 'Montserrat', 'Indie+Flower', Futura, Helvetica, Arial, sans-serif; text-align: center; padding-bottom: 40px;}

.image-column img {width: 100%;}

.intro-column p {padding: 25px 0; font-family: Futura, Helvetica, Arial, sans-serif; font-size: 3em; font-weight: 100; -webkit-margin-before: 0;}

.skills-column {background-color: #5AD4C2; color: #FFF; padding: 5px 35px;}

.skills-column h3 {text-align: center; text-transform: uppercase; font-family: 'Roboto', 'Oswald', 'Montserrat', 'Indie+Flower', Futura, Helvetica, Arial, sans-serif; font-size: 1.75em;}

.skills-column li {font-size: 1.5em;}

.contact-main-text {padding: 30px 0;}

.contact-main-text h3 {padding-bottom: 20px; font-size:2em; text-align: center;}

.contact-main-text p {padding: 10px 0; font-size: 2em;}

/*Contact Page*/

#contact {background-image: url("../img/abstractsky.jpg"); background-attachment: fixed; background-size: cover ; color: #fff; text-align: center; padding: 50px 100px; max-width: 100%;} 

.header h1 {padding: 5px 0 20px; font-size: 4em; font-family: 'Roboto', 'Oswald', 'Montserrat', 'Indie+Flower';}

/*Carousel*/

.pic img {margin: 0 auto; width: 62%;}

.carousel-control {opacity: 0; width: 10%;}

/*Back to Contact*/

.intro-text {padding-top: 20px; font-size: 2em; font-family: Avant Garde, Century Gothic, Candara, sans-serif;}

.contact {padding-bottom: 25px; padding-top: 5px; width: 275px; margin: 0 auto; text-align: left;}

.contact li {padding: 3px; font-family: Avant Garde, Century Gothic, Candara, sans-serif; font-size: 1.1em;}

#message {margin-bottom: 15px;}

.form-control {width:80%;}

#visible-comment {font-size: 2.5em; color: #f00; text-transform: uppercase; font-weight: 500; padding: 20px 0;}

#map {width: 80%; height: 250px; display: inline-block;}

/*Work page*/

.header-work h1, h2 {font-family: Century Gothic, sans-serif; font-weight: 600;}

.header-work h1 {text-align: center; padding-top: 15px; font-size: 4em; color: #34495e;}

.header-work h2 {color: #34495e; text-align: left; padding-left: 25px; font-size: 3em;}

#work {padding-top: 20px}

#row1 {margin: 10px 0;}

#row2 {padding-bottom: 75px; margin: 10px 0;}

.work-img {display: block; margin: auto; max-width: 410px; position: relative;}

.info {display: none; position: absolute; top: 10%; left: 20%; color: #f00; font-family: Futura; text-align: uppercase, center; font-weight: 900; letter-spacing: 0.5em; line-height: 150%; font-size: 100%; width: 80%; padding-right: 10px; z-index: 1;}

.proj-title {font-weight: 500;}

/*Video*/

.embed-responsive-16by9 {margin: auto; width: 60%; padding-top: 50px;}

/*FAQ page*/

#faq {background-image: url("../img/sky-night-stars-large.jpg"); background-size: cover; max-width: 100%; text-align: center; color:#fff; padding: 100px; padding-top: 50px;}

#faq h1, h2 {font-family: Century Gothic; text-align: center; color: #fff;}

#faq h2 {font-size: 2.1em; display: inline-block; font-weight: 550;}

/*Modal*/

.modal-button {float: right; padding: 20px 80px 0 0; display: inline-block;}

#modalembed {height:500px; width:100%; padding: 20px;}

.modal-header {color: #000; text-align: center; font-family: Courier-Gothic, sans-serif; font-weight: 800;}

/*Accordian*/

.panel-title {font-weight:900; font-size: 1.6em; font-family: Courier; padding: 0 10px;}

.panel-default {color:#000; background-color: #fffeea;}

.accordian-heading {background-color: #18E8DC;}

.panel-body p, li {font-size: 1.4em; font-family: Courier;}

.panel-body li {text-align: left;}

/*Video*/

#video-caption h3 {color: #fffeea; padding: 20px 0; font-family: Century Gothic; text-align: center; font-weight: 700}

.embed-responsive-16by9 {margin: auto; width: 60%; padding-top: 50px;}

/*Footer*/

footer p {float:right; padding: 5px 10px 0 0; font-size: 1em; font-family: Futura, sans-serif; color: #00f;}