body { background-image: url("../img/bb-backdrop.jpg");
	     margin-bottom: 0px;
       background-position: 0% 100%;
       background-size: cover;
       background-repeat: no-repeat;
       width: 100%;
       margin: 0 auto;
       padding: 0;
}

.vertical {
	position: fixed;
	top: 0;
	left: 0;
	width: 150px;
	height: 100%;
	margin: 0 auto;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.vertical li {
	padding: 15px 0; 
	display: block;
	border: 2px solid black;
	text-transform: uppercase;
	background-color: RGB(255,191,7);
	font-weight: 900;
}

#Home a {margin: 13px}

li a:hover {color: #f00;}

.vertical a {
	margin: 5px;
}

#WaltThumbnail {
	margin: 0;
	padding: 0 0 50px 0;
}

.intro {
	color: #fff; 
	position: relative; 
	margin: 0 auto;
	width: 100%;
	left: 170px;
}

#Waltmoney {
	margin-left: 100px;
	width: 50%;
}

#music {margin: 0 auto; width: 60%;}

#music p {margin: 0 auto; width: 85%;}
